{% extends "base.html" %}
{% block title %}
    <title>Home</title>
{% endblock title %}

{% block body %}

<div>
    <div class="" id="demands" >
        <ul id="demands_table">

        </ul>
        <a href="create_demand/" id="post_demand" class="create">Create a Demand</a>
    </div>
</div>

{% endblock body%}

{% block script %}
{% load static %}
<script src="{% static 'js/homepage.js' %}"></script>
<script src="{% static 'js/jquery.serialize-object.min.js' %}"></script>

{% endblock script %}