{% extends "base.html" %}
{% block title %}
    <title>Home</title>
{% endblock title %}

{% block body %}


<div class="container-fluid">

    <div class="row" style="text-align:center; margin-top:150px;">
        <div class="col-10 offset-1" style="height:600px">
            <h2>Welcome to Joatu</h2>
            <br>
            <span>swipe right or click on the top left corner</span>

        </div>

    </div>
    
</div>






{% endblock body%}

{% block script %}
{% load static %}
<script src="{% static 'js/homepage.js' %}"></script>
<script src="{% static 'js/jquery.serialize-object.min.js' %}"></script>

{% endblock script %}
